html {
  font-size: 18px;
  font-family: Helvetica;
}

header {
  background-color: black;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: flex-start;
}

.logo img {
  margin: 0.66rem 1rem 0.66rem 0.5rem;
  height: 1.5rem;
}

header span {
  font-size: 1rem;
  color: white;
  margin: 0.66rem 0;
  display: flex;
  align-items: center;
}

.hero {
  background-image: url('../images/moto.jpeg');
  height: 25rem;
  background-size: cover;
}

.hero-box {
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  background-color: black;
}

.hero-box span {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.25rem;
}

.hero-box h1 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
